<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<ul class="nav-stacked port-cat">
					<li role="presentation" ng-repeat="cat in categories">
						<span ng-class="{'selected':cat.name == currCat}" class="parentCat yellow-hover" ng-click="chooseCat(cat)">{{cat.name | uppercase}}</span>
						<ul class="nav-stacked">
							<li class="animate-repeat sub-cat" ng-repeat="subCat in subCats[cat.name]">
								<span ng-class="{'selected':subCat.name == currSubCat}" class="yellow-hover"href="" ng-click=chooseSubCat(subCat)>{{subCat.name | uppercase}}</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-10 port-grid">
				<div class="col-md-3 proj-animate" ng-repeat="proj in projects">
					<a href="#/project/{{proj.id}}" class="projComp">
			      <img src="{{proj.image}}" class="projImage" ng-click="chooseProj(proj)"/>
						<div class="projInfo">
							<span>{{proj.name}}</span>
						</div>
					</a>
			  </div>
			</div>
		</div>
	</div>
</div>
