<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<ul class="nav-stacked">
					<li role="presentation" ng-repeat="cat in categories">
						<span class="parentCat" ng-click="chooseCat(cat)">{{cat.name}}</span>
						<ul class="nav-stacked">
							<li class="animate-repeat" ng-repeat="subCat in subCats[cat.name]">
								<span href="">{{subCat.name}}</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="col-md-4 proj-animate" ng-repeat="proj in projects">
					<div class="projComp">
			      <img src="images/proj{{$index+1}}.jpg" class="projImage" ng-click="chooseProj(proj)"/>
						<div class="projInfo">
							<span>{{proj.name}}</span>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>
